@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

.cartItemsContainer {
  width: 20rem;
  height: 10rem;
  /* position: absolute; */

  z-index: 10;
 

}

.cartItems {
  top: -40rem;
  transition: 0.4s ease-in-out;
}

.cartItems.open {
  top: 2rem;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  transform: translateX(-100%);
  transition: transform 0.5s;
  color: white;
  padding-top: 60px;
  z-index: 1000;
}

.sideMenu.active {
  transform: translateX(0);
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px 15px;
}





.image-container {
  position: relative;

}

.slider-image {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 1s ease;
  width: 100%;
    background-size: cover; /* ensures the image covers the entire div */
    background-position: center; /* centers the image */
    background-repeat: no-repeat; /* prevents image repeating */
    /* ... (rest of your code, no changes here) */


}

.slider-image.active {
  opacity: 1;
}

/* 

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

button {
  margin-left: 10px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */
